html,
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

.recipe-container {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}
